* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    /* max-width: 70vw; */
}

header {
    display: flex;
    flex-direction: row;
    padding: 15px;
    /* margin-right: auto;
    margin-left: 0; */
}

.brand-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    /* width: auto; */
    /* max-width: max-content; */
    /* margin: 5px; */

}
.menu {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
    justify-content: right;
    align-content: center;
}

.menu_item {
    padding: 5px;
    margin: 10px;
    text-align: center;
    /* background-color: #1337af; */
    /* border: 1px solid #9c2424; */
    border-radius: 5px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    align-content: center;
    cursor: pointer;
}

.menu_item:hover {
    background-color: #74c234;
}
img{
    object-fit: cover;
    align-self: top;
width: 100px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: top;
    /* align-items: center; */
    padding: 5px;
    margin: 5px;
}